<div id="<%= dom_id trabajo %>">
  <p>
    <strong>Nombre:</strong>
    <%= trabajo.nombre %>
  </p>

  <p>
    <strong>Cargo:</strong>
    <%= trabajo.cargo %>
  </p>

  <p>
    <strong>Descripcion:</strong>
    <%= trabajo.descripcion %>
  </p>

  <p>
    <strong>Vacantes:</strong>
    <%= trabajo.vacantes %>
  </p>

  <p>
    <strong>Sueldo:</strong>
    <%= trabajo.sueldo %>
  </p>

  <p>
    <strong>Fecha inicio:</strong>
    <%= trabajo.fecha_inicio %>
  </p>

  <p>
    <strong>Tipo:</strong>
    <%= trabajo.tipo_id %>
  </p>

  <p>
    <strong>Regionch:</strong>
    <%= trabajo.regionch_id %>
  </p>

  <p>
    <strong>Empresa:</strong>
    <%= trabajo.empresa_id %>
  </p>

</div>
